<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/shows">Go back</a>
    <form action="/shows/{{show.id}}/update" method="POST">
        {% csrf_token %}
        Title<br>
        <input type="text" value="{{show.title}}" name="title"><br>
        Network<br>
        <input type="text" value="{{show.network}}" name="network"><br>
        Release Date<br>
        <input type="date" value="{{show.release_date}}" name="release_date"><br>
        Description<br>
        <textarea rows='10' cols='30' name="description">{{show.description}}</textarea><br>
        <input type="submit" value="Update">
    </form>
    {% for message in messages %}
    {{message}}<br>
    {% endfor %}
</body>

</html>